<div class="container-fluid">
    <header class="row align-items-center py-3 mb-4">
        <div class="col-6 col-md-2 mb-2 mb-md-0 text-start text-md-start order-1 order-md-1">
            <a href="/"
                class="d-flex align-items-center justify-content-start justify-content-md-start text-primary text-decoration-none fw-bold fs-2">
                Notes
            </a>
        </div>

        <div class="col-12 col-md-7 mb-2 mb-md-0 order-3 order-md-2">
            <div class="search d-flex align-items-center justify-content-center">
                <i class="fa fa-search me-2"></i>
                <input type="text" class="form-control me-2" placeholder="Have a question? Ask Now">
                <button class="btn btn-primary">Search</button>
            </div>
        </div>

        <div class="col-6 col-md-3 text-end text-md-end order-2 order-md-3">
            <a href="/auth/google"><button type="button" class="btn btn-primary">Sign in</button></a>
        </div>
    </header>
</div>