<div class="container-fluid container-fluid-costum py-mid-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-md-0">
                <h1 class="display-2 fw-bold mb-4 position home-title position-relative ">
                    Dashboard
                </h1>
                <p class="fs-4 mb-4">
                    dashboard
                </p>
                <a href="/auth/google"><button type="button" class="btn btn-primary">Try it now for free</button></a>
            </div>